body {
  width: 100%;
  min-height: 100%;

}
#grid_container {
  margin: auto;
  width: 80%;
  min-height: 80%;
}
.btn-floating {
  margin: 50px !important;
}
.btn-floating.btn-large {
    width: 100px  !important;
    height: 100px  !important;
}
.btn-large i {
    font-size: 4.6rem !important;
}
.btn-floating.btn-large i {
    line-height: 100px !important;
}
.brand-logo img {
  height: 40px;
}
.card-action {
  height: 100px !important;
}
